@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#reference {
  margin-top: 7rem;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
@media screen and (max-width:450px) {
  #reference{
    
    margin-top: 4rem;
  }
}
.title4 {
  border: 2px solid rgb(59, 255, 24);
  margin-left: 30rem;
  margin-right: 30rem;
  border-radius: 50px;
  font-size: 2rem;
  font-family: Lobster, sans-serif;
  text-align: center;
  height: 9%;
  width: 20%;
  text-shadow: 0.5px 0.5px 1px rgb(102, 101, 101);
}
@media screen and (max-width:450px) {
  .title4{
    
    width: 50%;
    height: 7%;
  }
}
.refer {
  background-color: rgb(255, 255, 255);
  width: 40%;
  height: 55%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 3rem;

}
@media screen and (max-width:450px) {
  .refer{
    width:80%;
    height:40%;
  }
}
.para4 {
  color: rgba(0, 0, 0, 0.619);
  font-family: poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 2rem;
}
@media screen and (max-width:450px) {
  .para4{

    font-size: 14px;
  }
}

  
 .learn-more  {
  width: 50%;
align-self: center;
 
  
}
/* From Uiverse.io by cssbuttons-io */ 
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: poppins,sans-serif;
   }
   
   
   button.learn-more {
    width: 15rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }
